/* INDEX CSS */
*,body {

	padding:0;
	margin:0;

}
html,body{

    min-height: 100%;
    height: 100%;

}
/*criacao de linhas*/
.container{

    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    background: #C02425;
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);
    background: linear-gradient(to right, #F0CB35, #C02425);
}

.cabecalho{
    background: #C02425;
    background: -webkit-linear-gradient(to right, #f0cb355d, #C02425);
    background: linear-gradient(to right, #F0CB35, #C02425); 

}
.div_login{

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid rgb(87, 87, 87);
    border-bottom: 1px solid rgb(87, 87, 87);
    border-radius: 15px;
    
}

.div_acesse{
    font-family: Arial, Helvetica;
    font-size: 40px;

}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #C02425;
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);
    background: linear-gradient(to right, #F0CB35, #C02425);
    text-align: center;
    font-size: 25px;
    padding: 12px;
    color: white;
    width: auto;
    height: auto;
    border-top: px solid rgb(255, 255, 255);

}

.logo{

    max-height: 300px;
    display: flex;
    justify-content: center;

}

.logo>img{
    max-width: 200px;
    width: 100%;
    height: auto;

}

.form{

    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    text-align: center;
}

input{

    border-radius: 5px;
    padding: 0 5px;
    height: 30px;
    margin-top: 10px;
    

}

.buttons{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

.buttons>button{

    height: 30px;
    padding: 0 5px;

    border-radius: 5px;


}